*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}
:root{
    --clr-black:#000000;
    --clr-light-black:#7D7D7D;
    --clr-light-gray:#E5E5E5;
    --clr-very-light-gray:#F3F3F3;
    --clr-white:#FFFFFF;
}

.container {
  max-width:1200px;
  margin:0 auto;
  column-count: 4;
  column-gap:0;
  padding:15px;
}
  @media all and (max-width:992px){
    .container{
      column-count: 2;
    }
    
  }
  @media all and (max-width:500px){
    .container{
      column-count: 1;
    }
    
  }







